html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;

  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
}

.form {
  width: 300px;
}

.input-item {
  display: flex;
  flex-direction: column;
}